<ion-view view-title="FIT 'n FINE">
  <ion-content class="padding" >
        <div class="subheader text-center">
          <h4 class="Title">
            Please select and fill the below options
          </h4>
        </div>
        <div>
          <form>
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Name</span>
            <input type="text" placeholder="John" ng-model="account.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Weight</span>
            <input type="text" placeholder="in Kgs" ng-model="account.weight">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="john@suhr.com" ng-model="account.email">
          </label>
        </div>
        <ion-list radio-group>
          <ion-item>
            <span>
            <ion-label> Vegetarian </ion-label>
            <ion-radio value="Yes" style="height:45px;" ng-model="account.vORn">Yes</ion-radio>
            <ion-radio value="No" style="height:45px;" ng-model="account.vORn">No</ion-radio></span>
          </ion-item>    
        </ion-list>
        <button class="button button-royal" ng-click="addaccount()">
            Save
        </button>
      </form>
      </div>
      </div>
  </ion-content>

</ion-view>
