<ion-view view-title="Food List">
  <ion-content style="margin-bottom:85px">
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
      ng-repeat="food in foods" type="item-text-wrap" href="#/tab/foods/{{food.id}}">
        <img ng-src="{{food.face}}">
        <h2>{{food.name}}</h2>
        <p>{{food.Text}}</p>  
        <ion-option-button class="button-assertive" ng-click="add(food)">
            Add Calorie
          </ion-option-button>
        </ion-item>
      </ion-list>
  

    <div class="text-down">
    	<ion-icon name = "heart">
    	</ion-icon>
    </div>
    
  </ion-content>
  <div class="card" id = "totaled">
      <div class="container">
        <h4><b>Total</b></h4> 
        <p>{{totalCal}}</p> 
        
      </div>
    </div>
